
*.plist

src/caca_x.dSYM/Contents/Resources/DWARF/caca_x

src/caca_x.

src/caca_x

src/gforce.dSYM/Contents/Resources/DWARF/gforce

src/al

*.swp

src/esoya

src/heg

src/hego

src/dasda

src/crap.dSYM/Contents/Resources/DWARF/crap

src/crap

*.lprof

caca_x

*.out

ass1.txt
/a.out.dSYM
/caca_x.dSYM

src/caca_grande_random_1_a.log
