
*.plist

src/caca_x.dSYM/Contents/Resources/DWARF/caca_x

src/caca_x.

src/caca_x

src/gforce.dSYM/Contents/Resources/DWARF/gforce

src/al

*.swp

src/esoya

src/heg

src/hego

src/dasda

src/crap.dSYM/Contents/Resources/DWARF/crap

src/crap

*.lprof

caca_x

*.out

ass1.txt
/a.out.dSYM
/caca_x.dSYM

src/caca_grande_random_1_a.log

src/caca_grande_random_1_a.txt

src/caca_grande_actualizaciones_indice_dec_rev.c.log

src/caca_grande_actualizaciones_indice_dec.c.log

src/caca_grande_actualizaciones_indice_fix_rev.c.log

src/caca_grande_actualizaciones_indice_fix.c.log

src/caca_grande_actualizaciones_queries_inicio_1.c.log

src/caca_grande_queries_inicio_1.c.log

src/caca_grande_random_1_a.c.log

src/caca_grande_random_1.c.log

src/caca_grande_reversa.c.log

src/caca_grande.c.log

src/caca.c.log

src/caca1.c.log

src/caca2.c.log

src/caca3.c.log

src/caca4.c.log

src/caca5.c.log

src/caca6.c.log
